.cabecera {
    min-height: 91vh;
    background-image: linear-gradient(to right bottom, #382b24, #85756c, #a99a90, #e4dbd5, #f5e7dc);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cabecera h1{
    font-size: 4em;
} 

.calidad{
    background: #382b24;
    border-radius: 15px;
}

@media (max-width: 900px) {
    .chamuyo {
      display: none;
    }
  }

