body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
  background: #f5e7dc;
  color: white;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, span {
  font-family: 'Abril Fatface', cursive;
}

